.App {
  text-align: center;
  display: flex;
  font-family: Inter;
}

main {
  display: flex;
  flex-direction: column;
}

.active {
  color: var(--primary-blue);
  border-bottom: 3px solid var(--primary-blue);
  padding-bottom:0.5rem;
}
.pages span{
  padding:6px 8px;
  border-radius:3px;
}
.active-page{
  background-color: var(--primary-blue);
  color: #fff;
  
}
.left-side {
  min-height: 100vh;
  /* Full height of the viewport */
  min-width: 16.5%;
  background-color: var(--primary-color);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  padding: 1rem 0.5rem;
}

.left-side ul {
  list-style: none;
  margin-bottom: 4px;
  padding: 0;
  margin: 0;
}

li {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 12px;
  border-radius: 5px;

}

li:hover {
  background-color: var(--secondary-color);
  cursor: pointer;

}

a {
  text-decoration: none;
  color: #fff;
  display: block;
}

/* Change the background color when hovering over a link */
a:hover {
  background-color: #555;
}